aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.5.0
async-timeout==4.0.3
attrs==23.1.0
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
ctransformers==0.2.26
dataclasses-json==0.5.14
diskcache==5.6.1
faiss-cpu==1.7.4
filelock==3.12.3
flask==2.3.3
frozenlist==1.4.0
fsspec==2023.6.0
huggingface-hub==0.16.4
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
langchain==0.0.276
langsmith==0.0.28
llama-cpp-python==0.1.78
MarkupSafe==2.1.3
marshmallow==3.20.1
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.1
nltk==3.8.1
numexpr==2.8.5
numpy==1.25.2
packaging==23.1
Pillow==10.0.0
py-cpuinfo==9.0.0
pydantic==2.3.0
pydantic-core==2.6.3
pypdf==3.15.4
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.11.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
SQLAlchemy==2.0.20
sympy==1.12
tenacity==8.2.3
threadpoolctl==3.2.0
tiktoken==0.4.0
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
transformers==4.32.1
typing-extensions==4.7.1
typing-inspect==0.9.0
urllib3==2.0.4
werkzeug==2.3.7
yarl==1.9.2
zipp==3.16.2
